:root {
    /* ### Primary */

--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-desaturated-cyan: hsl(167, 40%, 24%);
--dark-blue: hsl(198, 62%, 26%);
--dark-moderate-cyan: hsl(167, 33%, 66%);
--blue-back: hsl(199, 88%, 61%);

/* ### Neutral */

--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayis-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
}

body {
    font-size: 18px;
    margin: auto 0;
    padding: 0px;
    box-sizing: border-box;
}

/* Hide scrollbar */

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:1fr repeat(4, 0.85fr) 0.6fr 0.5fr;
}

.header{
    background-image: url("images/desktop/image-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
    color: var(--white);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
}

.tittle-heading {
    padding-left: 2%;
    font-size: 2em;
    font-weight: 700;
}

.list-nav {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 7% 0;
}

.nav-bar {
    padding-right: 5%;
    font-size: 1em;
}

.contact{
    border-radius: 30px;
    text-transform: uppercase;
    border-color: transparent;
    background-color: var(--white);
    font-family: 'Fraunces', serif;
    padding: 22% 30%;
}

.contact:hover {
    cursor: pointer;
}

.nav{
    margin: auto;
}

.principal-box {
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
    letter-spacing: 0.4em;
    margin-top: 5%;
}

.arrow {
    margin-top: 5%;
}

.first-box {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
}

.img-egg { 
    background-image: url("images/desktop/image-transform.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tittle-box {
    font-family: 'Fraunces', serif;
    font-size: 2.5em;
    font-weight: 900;
    margin: 20% 20% 0 20%;
}

.text-box {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    margin: 5% 10% 0 20%;
    line-height: 1.5em;
}

.more {
    margin: 5% 10% 14% 21%;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 0.4em;
}

.more:hover {
    cursor: pointer;
}


.img-pink {
    background-image: url("images/desktop/image-stand-out.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-graphic {
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-photo {
    background-image: url("images/desktop/image-photography.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tittle-img-box {
    font-family: 'Fraunces', serif;
    font-size: 1.5em;
    text-align: center;
    margin: 55% auto 0 auto;
}

.text-img-txt-box {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    margin: 5% 25% 10% 25%;
    line-height: 1.5em;
    text-align: center;
}

.cb { 
    color: var(--dark-desaturated-cyan);
}

.pb {
    color: var(--dark-blue);
}

.client-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr;
}

.tittle-client-box {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin: auto;
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.3em;
    color: var(--grayis-blue);
    margin-top: 12%;
}

.client {
    grid-row-start: 2;
    grid-row-end: 2;
    margin: 15% 0 0 0;
}

.ph {
    text-align: center;
}

.ph-client {
    width: 15%;
    border-radius: 40px;
    text-align: center;
}

.text-client {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Barlow', sans-serif;
    line-height: 1.4em;
    margin: 10% 10% 15% 10%;
}

.name-client {
    text-align: center;
    font-weight: 900;
    margin: 0;
}

.proffesion-client {
    text-align: center;
    font-size: 0.9em;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: var(--grayis-blue);
    margin: 2% 0 35% 0;
}

.photos-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
}

.bottles {
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.plate {
    background-image: url("images/desktop/image-gallery-orange.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.cone {
    background-image: url("images/desktop/image-gallery-cone.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.sugar {
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.footer {
    background-color: var(--dark-moderate-cyan);
    text-align: center;
}

.tittle-footer {
    font-family: 'Barlow', sans-serif;
    font-size: 1.8em;
    font-weight: 900;
    color: var(--dark-desaturated-cyan);
    margin: 5% 0 3% 0;
}

.nav-footer {
    list-style: none;
    display: flex;
    margin: 7% 0;
    gap: 50px;
    justify-content: center;
    margin: 0 0 5% 0;
    color: var(--dark-desaturated-cyan);
}

.navf {
    font-size: 1em;
    font-family: 'Barlow', sans-serif;
}

.navf:hover {
    cursor: pointer;
    color: var(--white);
}

.if {
    margin: 0 1%;
    color: var(--dark-desaturated-cyan);
}

@media screen and (max-width: 650px) {


    main {
        grid-template-columns: 1fr;
        grid-template-rows:1fr 0.5fr 0.85fr 0.5fr 0.85fr 1fr 1fr 2fr 0.5fr 0.5fr;
    }

    .first-box {
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr;
    }

    .client-box {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 1fr 1fr;
    }





}